

<!--订单状态：  已确认订单，等待支付-->
<div class="ysysy clearfix" data-id="{$id}">
    <div class="yshdh clearfix">
        <h2><a href="http://www.douguo.com/mall" class="yshp"> 购好货  </a>&gt;<a href="http://www.douguo.com/mall/myOrders"> 我的订单 </a>&gt; 订单详情 </h2>
    </div>
 
        <div class="mshddxx clearfix">
        <div class="yshde">
            <div class="msf_ds">
                <h3>订单信息</h3>
                <p>订单编号：{$orData['good_number']}</p>
                <p>付款方式：</p>
            </div>
            <div class="msf_ds">
                <h3>收货人信息</h3>
                <p>{$orData['realname']}</p>
                <p>{$orData['cellphone']}</p>
                <p>{$orData['goods_address']}</p>
            </div>
      
        </div>
                <div class="yshrt mt60">
            <h2>订单状态：&nbsp; {$orData['goods_status']}</h2>
            <p>应付总额：<span class="fs">￥{$orData['price']}</span></p>
              <p>请在 <span class="fs_s">10 分钟</span> 内完成付款，否则订单将被取消。</p>
              
            <a href="javascript:void(0);" id="payOrder">去付款</a>
            
                    </div>
                    </div>
<script>
$('#payOrder').click(function () {
    $.post(
            '__SITE__/index/goods/pay',
            {
                id:$('.ysysy').attr('data-id'),
                yinfu: $('.fs').html()
            },
            function (data) {
                if (data.status) {
                    alert('您的支付已成功，账户余额减少'+$('.fs').html()+'元');
                    location.href = '__SITE__/index/shopping/shopping';
                }
            }, 'json');
});
var time =  10;
var min;
var sec;
var timer = null;
timer = setInterval(function () {

    time--;
    if (time <= 0) {
        clearInterval(timer);
        $.post(
                '__SITE__/index/goods/delGoods',
                {
                    id: $('.ysysy').attr('data-id')
                },
                function (data) {

                }, 'json');
        
    }
   if (time >= 0) {
         min = parseInt(time / 60);
         sec = parseInt(time % 60);

     $(".fs_s").html(min+'分'+sec+'秒');
   }
}, 1000);
</script>
    <div class="splb_bb clearfix">
        <div class="sb_tf">
            <table width="940" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr class="spbjs">
                    <td class="shangp">商品</td>
					<td class="kd"></td>
                    <td class="kd">单价</td>
                    <td class="kd">数量</td>
                    <td class="kd">金额</td>
                </tr>
                <tr class="tp_tr">
					<td class="tpjss_t">
					    <div class="erwem">
                            <a href="http://www.douguo.com/mall/item/22388" target="_blank">
                                <img src="{$orData['map_picture']}">
                             </a>
						</div>
					</td>
                    <td class="tpjss_y">
					<div class="ewmjs">
						<p><a href="http://www.douguo.com/mall/item/22388" target="_blank">{$orData['goods_info']}</a></p>
					</div>
                    </td>
                    <td class="kds">￥{$orData['price'] / ($orData['count'] + 1)}</td>
                    <td class="kds">{$orData['count']}</td>
                    <td class="kds cl">￥{$orData['price']}</td>
                </tr>
            </tbody></table>
        </div>
        <div class="liuy_y">
            <p></p>
            <p></p>
        </div>
        <div class="liuy">
            <table width="940" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr class="gyd">
                    <td class="spzj hss">商品总价</td>
                    <td class="jg he">￥{$orData['price']}</td>
                </tr>
                <tr class="gyd">
                    <td class="spzj hss">运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费</td>
                    <td class="jg hss">￥0.00</td>
                </tr>
            
                <tr class="gyd">
                    <td class="spzj hs">应付总额</td>
                    <td class="jg hs jg_jg" "="">￥{$orData['price']}</td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>

<!-- 晒单弹框 start -->
<form id="myForm">
    <div id="freetryfor" class="sqcen r5" style="display:none;">
        <div class="sqtablet clearfix">
            <a id="dialogclose" class="scengbs dlclose" href="javascript:void(0)"></a>
            <h2>晒单</h2>
            <div class="pingj">
                <p>
                    <a href="javascript:void(0)" onclick="yincang(this)" data-score="3" id="haopin" class="hpbjs mr30"><i class="xx xx1"></i>好评</a>
                    <a href="javascript:void(0)" onclick="yincang(this)" data-score="2" id="zhongpin" class="mr30"><i class="xx xx2"></i>中评</a>
                    <a href="javascript:void(0)" onclick="yincang(this)" data-score="1" id="chapin" class="mr30"><i class="xx xx3"></i>差评</a>
                </p>
            </div>
            <input id="score" value="3" type="hidden">
            <input id="goods_id" value="" type="hidden">
            <input id="order_id" value="" type="hidden">
            <textarea id="content" placeholder="多说点吧，你是别人的指导方针"></textarea><br><span class="zs">0/500</span>
            <div style="color: #f00;margin-left: 50px;display: none;" id="tishi">不满意吗？写下原因吧〜</div>
            <div class="tp clearfix">
                <div class="pb25 buttadd1" style="width:500px;float:left;">
                    <div class="tj" style="color:#fff;margin-left: 0px;margin-bottom:0px;background:url('http://i1.douguo.net/upload/banner/1420781397.jpg') no-repeat; ">
                        <button id="swfbtn2" type="button"></button>
                    </div>
                    <span class="inblok mtm fcc">(按住ctrl可多选。为保证您的使用体验，单次上传请不要超过4张)</span>
                </div>
                <br>
                <div class="tpxs clearfix" id="xtp">

                </div>
            </div>
            <div class="tj">
                <a href="javascript:void(0)" id="tijiao">提交</a>
            </div>
        </div>
    </div>
    <div class="blobg" style="height: 2342px;display:none;"></div>
</form>
<!-- 晒单弹框 end -->
<!-- <script>
    $(function(){
        $("#dialogclose").click(function(){
            $("#freetryfor").hide();
            $(".blobg").hide();
        })
        $('.qsd').click(function(){
            var h = $(window).height() / 2 -168;
            var w = $(window).width() / 2 - 473;
            var he = $(document).height();
            $("#freetryfor").css('top',h);
            $("#freetryfor").css('left',w);
            $('#freetryfor').show();
            $(".blobg").css({height:he});
            $(".blobg").show();
        });
        //选择晒单评价
        $('#haopin').click(function(){
            $('#score').val(3);
        });
        $('#zhongpin').click(function(){
            $('#score').val(2);
        });
        $('#chapin').click(function(){
            $('#score').val(1);
        });
        //提交晒单
        $('#tijiao').click(function(){
            var score= $('#score').val();
            var content= $.trim($('#content').val());
            var img= "";
            $("input[name='setpImages[]']").each(function(){
                var obj     = $(this);
                var value   =  obj.val();
                if(value)
                    img += value+"|";
            })
            content	= encodeURIComponent(content);
            var goods_id= "22388";
            var order_id= "1706567070974080";
            if((score==2||score==1)&& !$.trim(content))
            {
                $('#tishi').html('不满意吗？写下原因吧〜');
                $('#tishi').show();
                return false;
            }
            $.ajax({
                type:"post",
                url:"/mall/addOrderShow",
                data:"goods_id="+goods_id+"&order_id="+order_id+"&score="+score+"&content="+content+"&img="+img,
                dataType:"json",
                success: function(msg)
                {
                    showerrorinfo('提交成功','提交成功！');
                    $('#freetryfor').hide();
                    $('.blobg').hide();
                    $('.kdsss').html('已完成');
                    location.reload();
                },
                error	: function ()
                {
                    showerrorinfo('提交失败','请稍后再试！');
                    $('#freetryfor').hide();
                    $('.blobg').hide();
                }
            });
        })
    });

    function yincang(type){
        var aid = type.id;
        $('#haopin').removeClass('hpbjs');
        $('#zhongpin').removeClass('hpbjs');
        $('#chapin').removeClass('hpbjs');
        var score   = $('#'+aid).attr('data-score');
        $('#score').val(score);
        $("#"+aid).addClass('hpbjs');
        if(aid == 'zhongpin'){
            $("#"+aid).css('border-color','#ffb500');
        }else if(aid == 'chapin'){
            $("#"+aid).css('border-color','#cccccc');
        }
    }
    //晒单管理
    function pingjia(goods_id,order_id){
        $('#goods_id').val(goods_id);
        $('#order_id').val(order_id);
    }
    function payOrder(order_id)
	{
		$.ajax({
                type:"post",
                url:"/mall/ajaxCheckOrder",
                data:"order_id="+order_id,
                dataType:"json",
                
                success: function(msg)
                {
                    if(msg.status != 'OK')
                    {
                    	showerrorinfo('提示',msg.data);
                    	window.location.reload()
                    	return false;
                    }
                    else
                    {
			            window.location.href="/mall/pay/"+order_id;
                    }
                }
            });
	}
 </script> -->