<!DOCTYPE html>
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="注册成为豆果美食会员，美食,菜谱,家常菜谱,美食菜谱,豆果美食菜谱,最新菜谱,美食分享,菜谱分享,减肥食谱,特色小吃,西餐美食,最全的菜谱网站,美食文化,豆果美食,douguo.com">
    <meta name="description" content="豆果美食为第一华人美食菜谱社区，提供各种美食、菜谱、食谱的做法，丰富的菜谱大全可以让您轻松地学会怎么做美食，展现自己的高超厨艺，与千万会员一同分享美味的人生！">
    <meta name="author" content="豆果美食 www.douguo.com">
    <meta name="google-site-verification" content="2gKQfz4b2duFoGhkAMtl9EsHRd0nJWda-SxknzWYAGA">
    <meta name="y_key" content="e4b03bf435642365">
    <meta property="wb:webmaster" content="5d3113ad6af60df9">
    <meta name="varify-v1" content="baidu-z6YB9Um9kaoKXmFf">
    <meta name="baidu-site-verification" content="f4bd7fa0f7e3712360b62873fcb22edd">
    <meta name="apple-itunes-app" content="app-id=434212566">
    <link href="__STATIC__/css/bootstrap12.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <link href="__STATIC__/css/passport12.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    
    <title>重置新密码 - 豆果美食</title>

    
</head>
<body>
        <div class="loheader">
        <div class="htop">
            <div class="hlogo"><a title="豆果美食" href="http://www.douguo.com/">豆果美食</a></div>      
        </div>    
    </div>
    <div id="main" class="clearfix">
        
<div class="bglo clearfix">         
    <div class="thed">
        <h2>重置新密码</h2>
        <span>已有账号，<a href="https://passport.douguo.com/login">直接登录 &gt;</a></span>       
    </div>
    <div class="logibox" style="margin-bottom: 100px;">
        <div class="itm clearfix">
            <div class="iput">
                <input id="password" placeholder="请输入新密码" onfocus="showdesc(this);" class="wwinct r5" maxlength="20" type="password">
            </div>
            <span class="lowrong mll" id="err_password"></span>
        </div>
        <div class="iisi">密码长度为6-20位，不能含有空格</div>
        <div class="itm clearfix">
            <div class="iput">
                <input id="dpasswd" placeholder="再次输入密码" onfocus="showdesc(this);" class="wwinct r5" maxlength="20" type="password">
            </div>
            <span class="lowrong mll" id="err_againpwd"></span>
        </div>
        <div class="iisi">再输入一次密码</div>
        <div class="itm clearfix">
            <span class="lowrong mll" id="err" style="width:300px;text-align: center;margin-left: -2px;"></span>
        </div>
        <div class="iloo">
            <button id="reset" type="submit" class="btnrdz r3">提交</button>
            <input name="token" id="token" value="a7e88a07142a2b75c1c29832c2b1b3b1" type="hidden">
        </div>
    </div>          
</div>

    </div>
    <div id="footer">
    <div class="foot ptm">
        <div class="clink relative">
            <a href="http://www.douguo.com/about.html" rel="nofollow" target="_blank">关于豆果</a> ·
             <a href="http://www.douguo.com/hr.html" rel="nofollow" target="_blank">在豆果工作</a> ·
            <a href="http://www.douguo.com/user/feedback" rel="nofollow" target="_blank">意见反馈</a> ·
                <a href="http://www.douguo.com/links.html" target="_blank">友情链接</a> · 
            <a href="http://www.douguo.com/allrecipes/" target="_blank">菜谱大全</a> ·
            <a href="http://www.douguo.com/brand" target="_blank">品牌馆</a>
        </div>
        <div class="cght">
            ©2009-2015 <a href="http://www.douguo.com/" target="_blank">北京豆果信息技术有限公司</a> <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP证111032号</a> 京公网安备11010102001133号 京网文[2014]0774-174号
        </div>
        <div class="botfans mt15">
            <span class="bonefans">
            </span>
            <span class="bonefans">
            </span>
            <span class="bonefans">            
            </span>
        </div>
    </div>
</div>

<script src="__STATIC__/js/jquery-1.11.3.js "></script>
<script async="" src="__STATIC__/js/analytics12.js"></script><script type="text/javascript" src="__STATIC__/js/jquery-112.js"></script>
<script type="text/javascript" src="__STATIC__/js/base12.js"></script>
<script type="text/javascript" src="__STATIC__/js/md512.js"></script>
<script type="text/javascript" src="__STATIC__/js/bootstrap12.js"></script>

<script src="__STATIC__/js/signup12.js"></script>
<script src="__STATIC__/js/reset12.js"></script>

<script type="text/javascript">
/*验证邮箱或者手机号*/
function isEmailOrPhone(text) {
    if(!text){
        return false;
    }
    var email = /^([a-z0-9\+_\-]+)(\.[a-z0-9\+_\-]+)*@([a-z0-9\-]+\.)+[a-z]{2,6}$/i;
    var phone = /^1[3|4|5|7|8][0-9]\d{8}$/;
    if (text && (email.test(text) || phone.test(text))) {
        return true;
    } else{
        return false;
    }
}
function isEmail(text) {
    if(!text){
        return false;
    }
    var email = /^([a-z0-9\+_\-]+)(\.[a-z0-9\+_\-]+)*@([a-z0-9\-]+\.)+[a-z]{2,6}$/i;
    if (text && email.test(text)) {
        return true;
    } else{
        return false;
    }
}

function isPhone(text) {
    if(!text){
        return false;
    }
    var phone = /^1[3|4|5|7|8][0-9]\d{8}$/;
    if (text && phone.test(text)) {
        return true;
    } else{
        return false;
    }
}

// $.(function () {
//     var email = /^([a-z0-9\+_\-]+)(\.[a-z0-9\+_\-]+)*@([a-z0-9\-]+\.)+[a-z]{2,6}$/i;
//     var phone = /^1[3|4|5|7|8][0-9]\d{8}$/;
//     var text = $("#password").val();
//     if (text) {
//         return 
//     }
//     if (text && (email.test(text) || phone.test(text))) {
//         return true;
//     } else{
//         return false;
//     }
// });
</script>

    <div id="su" class="sqcengw r5" style="width:300px;height:260px;display: none; position:absolute;top:50%;left:50%;margin-left:-150px;margin-top:-130px;font-size:40px;font-weight:bold;color:red;line-height:260px;text-align:center;background:white;border-radius:20px;">
       修改成功！
    </div>  
      <div id="su" class="sqcengw r5" style="width:300px;height:260px;display: none; position:absolute;top:50%;left:50%;margin-left:-150px;margin-top:-130px;font-size:40px;font-weight:bold;color:red;line-height:260px;text-align:center;background:white;border-radius:20px;">
       修改失败！
    </div>
</body></html>