
<div id="main" class="clearfix">
					
	<div class="caipunav r3 mb30 relative">
	<ul class="pls">
        {foreach $data as $foods}
            <li class="lirdo ">
            {if $foods['parent_id'] != 0}
            <a href="__SITE__/{$foods['address']}"><span>{$foods['classname']}</span></a>
            {/if}
            </li>
         {/foreach}
	</ul>
	<div class="meewi mrl"><!--<a href="http://1603.bigcheng.commeiwei">美味人生官网&gt;&gt;</a>--></div>
</div>

	<div class="caiptips r3 ptl mb35">
	<div class="fenlei cliner">
		<h2>菜式</h2>
		<ul>
					<li><a href="http://1603.bigcheng.comindex/Allrecipes/cai下饭菜" >下饭菜</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/甜品" >甜品</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/肉类" >肉类</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/主食" >主食</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/私家菜" >私家菜</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/凉菜" >凉菜</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/烘焙" >烘焙</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/豆制品" >豆制品</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/煲汤" >煲汤</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/酒" >酒</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/海鲜" >海鲜</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/水产" >水产</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/禽类" >禽类</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/蛋类" >蛋类</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/冰品" >冰品</a></li>
					<li><a href="/caipu/fenlei" title="更多菜系">. . .</a></li>
		</ul>
	</div>
	<div class="fenlei2 cliner">      
		<h2>烘培</h2>
		<ul>
					<li><a href="http://1603.bigcheng.comcaipu/面包" >面包</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/饼干" >饼干</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/戚风蛋糕" >戚风蛋糕</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/泡芙" >泡芙</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/蛋糕卷" >蛋糕卷</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/杯子蛋糕" >杯子蛋糕</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/芝士蛋糕" >芝士蛋糕</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/马芬" >马芬</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/曲奇" >曲奇</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/吐司" >吐司</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/海绵蛋糕" >海绵蛋糕</a></li>
				<li><a href="/caipu/fenlei" title="更多人群、场景" rel="nofollow">. . .</a></li>
		</ul>    
	</div>
	<div class="fenlei2 cliner">      
		<h2>功效</h2>
		<ul>
					<li><a href="http://1603.bigcheng.comcaipu/补硒食谱" >补硒食谱</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/补钙食谱" >补钙食谱</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/补锌食谱" >补锌食谱</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/补铁食谱" >补铁食谱</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/补碘食谱" >补碘食谱</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/对抗雾霾" >对抗雾霾</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/防辐射" >防辐射</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/润肠通便" >润肠通便</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/明目" >明目</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/润肺止咳" >润肺止咳</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/痛经" >痛经</a></li>
					<li><a href="/caipu/fenlei" title="更多菜式" rel="nofollow">. . .</a></li>
		</ul>   
	</div>
	<div class="fenlei2">      
		<h2>场景</h2>
		<ul>
					<li><a href="http://1603.bigcheng.comcaipu/早餐食谱" >早餐食谱</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/午餐" >午餐</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/下午茶" >下午茶</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/晚餐" >晚餐</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/宵夜" >宵夜</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/单身食谱" >单身食谱</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/二人世界" >二人世界</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/朋友聚餐" >朋友聚餐</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/户外野炊" >户外野炊</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/生日聚会" >生日聚会</a></li>
					<li><a href="http://1603.bigcheng.comcaipu/一家三口" >一家三口</a></li>
				</ul>
	</div>
</div>

<div class="ttio"><h4>吃饭不积极，思想有问题</h4></div>
{foreach $cookData as $vals}
	<div id="container" class="clearfix">
		<div class="cp_box">
            <a href="__SITE__/index/cook/details/id/{$vals['id']}" class="cp_pic" target="_blank">
                <img src="{$vals['finish_map']}">
                <span class="ponly">独家</span>    </a>
                <div  class="cp_msg">
                    <a class="cp_name" target="_blank" href="">{$vals['title']}</a>
                    <p class="cp_cate">{$vals['read_times']}浏览</p>
                    <a class="cp_author" target="_blank" href="mhttp://1603.bigcheng.comu/u65020868733420.htl">
                        <img src="{$vals['icons']}"/>            
                        {$vals['nickname']}       </a>
                        <span class="level_icon"></span>
                        <div class="cp_tag">
                        </div>
                    </div>
                </div>
{/foreach}
    </div>
	<div id="param" offset='0' cate="jingxuan" class="hidden"></div>

  <div class="fcc ptm tlef">
    你当前的位置：<a href="http://1603.bigcheng.com" title="豆果美食">豆果美食</a> &gt <a href="http://1603.bigcheng.comcaipu/" title="菜谱">菜谱</a> &gt 精选菜谱
    </div>
<!-- <ul class="pagination">
<li><a href="?page=1">&laquo;</a></li>

<li class="active"  style="float:left;"><span>{$page}</span></li>
<li class="disabled"><span>&raquo;</span></li>
</ul> -->

    <div class="mt25 left">
        <script type="text/javascript">
		    /*PC通栏940*90图片广告*/
		    var cpro_id = "u2786783";
		</script>
		
    </div>
<script type="text/javascript" src="__STATIC__/js/ce.js"></script>

<!-- <div class="ajifenshow"><a class="yshzhbg" href="/mall?f=jf" target="_blank"></a></div> -->

