
<div id="footer">
    <div class="foot ptm">
        <div class="clink relative">
            <a href="/about.html" rel="nofollow" target="_blank">关于豆果</a> ·
            <a href="/hr.html" rel="nofollow" target="_blank">在豆果工作</a> ·
            <a href="/user/feedback" rel="nofollow" target="_blank">意见反馈</a> ·
            <a href="/links.html" rel="nofollow" target="_blank">友情链接</a> ·
            <a href="__SITE__/index/Allrecipes/lists" target="_blank">菜谱大全</a> ·
            <a href="http://www.douguo.com/brand" rel="nofollow" target="_blank">品牌馆</a> ·
            <a href="http://www.douguo.com/mall/contact" rel="nofollow" target="_blank">商家入驻</a>
        </div>
        <div class="cght">
            ©2009-2016 <a href="http://www.douguo.com" target="_blank">北京豆果信息技术有限公司</a> <a
                href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">京ICP证111032号</a> 京公网安备11010102001133号
            京网文[2014]0774-174号 食品流通许可证SP1101061510252413
        </div>
</div>

<script src="__STATIC__/js/1b39956712d547e799c9231c21473926.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-60338497-1', 'auto');
    ga('send', 'pageview');
</script>
<script>
    (function () {
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>



<script src='__STATIC__/js/ce.js' language='JavaScript' charset='gb2312'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-60338497-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>


<script type="text/javascript">
    $(function(){
        var aaa = $("div.fei3").length;
        for(var i = 0; i < aaa; i++)
        {
            var dd = $("div.fei3").eq(i).attr("id");

            var cc = $("#"+dd+" li").length;
            if(cc <= 24)
            {
                $("#"+dd).find("span.bkzksq").hide();   
            }else
            {
                $("#"+dd).find("span.bkzksq").show();
                $("#"+dd).find("li:gt(23)").hide();
            }
        }
    })
    $(".zhankai").live("click", function(){     
        var h = $(this).hasClass("oleizk"); 
        if(h){              
            $(this).parents(".libdm").find("ul li:gt(23)").slideDown("100");
            $(this).removeClass("oleizk").addClass("oleisq").text("收起");
        }else{              
            $(this).parents(".libdm").find("ul li:gt(23)").slideUp("100");
            $(this).removeClass("oleisq").addClass("oleizk").text("展开更多");          
        }
    })
</script>
<div id="backtop" style="display: none;bottom:290px"> <a id="gotop" href="javascript:void(0);" title="返回顶部" onclick="window.scroll(0,0);"></a> </div>
<!-- <div class="ajifenshow"><a class="yshzhbg" href="/mall?f=jf" target="_blank"></a></div> -->
<script src='js/c_1g.js' language='JavaScript' charset='gb2312'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-60338497-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script src="__STATIC__/js/33b215e381f24efb8ee0b88bf52326b9.js"></script>
<script src='js/c.js' language='JavaScript' charset='gb2312'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-60338497-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>


<script src='__STATIC__/js/c_2foods.js' language='JavaScript' charset='gb2312'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-60338497-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</body>
</html>