
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>豆果美食_开启美味生活_中文美食菜谱分享网站，提供优质的家常菜谱大全、餐厅餐馆与美食网购信息</title>
    <meta name="keywords" content="美食,菜谱,食谱,美食网,美食网站,美食分享网站,家常菜谱,家常菜谱大全,餐厅餐馆,美食网购">
    <meta name="description"
          content="豆果美食为华人美食菜谱社区，提供各种美食、菜谱大全、食谱大全、精选的家常菜谱大全、美味的餐厅餐馆、优选的美食网购信息，丰富的菜谱大全让您轻松地学会怎么做美食，展现自己的高超厨艺，与千万会员一同分享美味的人生！">
    <link href="http://1603.bigcheng.com/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link title="RSS 2.0" type="application/rss+xml" href="http://1603.bigcheng.com/rss/caipu" rel="alternate"/>
    <link href="__STATIC__/css/208eb0dd590f4ba4aeb97203406fd12d.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <link href="http://1603.bigcheng.com/static/images/wap/apple-touch-icon.png" rel="apple-touch-icon-precomposed"/>
  
    <link href="__STATIC__/css/33628b6f03254350be2520055dad61b7.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <link href="__STATIC__/css/a.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <meta name="mobile-agent" content="format=html5;url=http://m.douguo.com/">
    <meta name="author" content="豆果美食 1603.bigcheng.com">
    <meta name="google-site-verification" content="2gKQfz4b2duFoGhkAMtl9EsHRd0nJWda-SxknzWYAGA">
    <meta name="y_key" content="e4b03bf435642365">
    <meta property="wb:webmaster" content="5d3113ad6af60df9">
    <meta name="varify-v1" content="baidu-z6YB9Um9kaoKXmFf">
    <meta name="baidu-site-verification" content="f4bd7fa0f7e3712360b62873fcb22edd"/>
    <meta name="apple-itunes-app" content="app-id=434212566"/>
    <link href="__STATIC__/img/wap/apple-touch-icon.png" rel="apple-touch-icon-precomposed"/>
    <script src="__STATIC__/js/a5efdc9549ca46d985bd38ad95bf9219.js"></script>
    <script src="__STATIC__/js/c.js"></script>
    <script type="text/javascript">
        var __CALLBACK = 'http://1603.bigcheng.com' + "/main/returns?ref=" + encodeURIComponent(window.location.href);
    </script>
    <!-- 用户中心相关资源 -->
    <link href="__STATIC__/css/passport.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <script src="__STATIC__/js/passportv1.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/m.js"></script>
    <script type="text/javascript">
        BAIDU_CLB_preloadSlots("1160719", "624706", "624708", "624709", "1160719");
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?88ab8b291a27492cc500a195d5239d22";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>



    
    <!-- 用户中心相关资源 -->
    <link href="__STATIC__/css/mall.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <link href="__STATIC__/js/passport.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <script src="__STATIC__/js/passportv1.js"></script>
    <script type="text/javascript" src="__STATIC__/js/m.js"></script>
    <script src="__STATIC__/js/push.js"></script>
    <script async="" src="__STATIC__/js/analytics.js"></script>
    <script src="__STATIC__/js/a_002.js"></script>
    <style type="text/css">
        :root #header + #content > #left > #rlblock_left {
            display: none !important;
        }</style>
    <script src="__STATIC__/js/comments.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?88ab8b291a27492cc500a195d5239d22";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <link rel="stylesheet" type="text/css" id="SL_Style" href="__STATIC__/js/translator.css">
    <!-- 用户中心相关资源 -->
<link href="__STATIC__/css/setinfo.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
<link href="__STATIC__/css/passport.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
<script src="__STATIC__/js/passportv1.js"></script>
<script type="text/javascript" src="__STATIC__/js/m.js"></script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?88ab8b291a27492cc500a195d5239d22";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<link rel="stylesheet" type="text/css" id="SL_Style" href="__STATIC__/css/translator.css">
<body>
<a class="dg-passport" id="login"></a>
<input id="getjs" value="0" type="hidden">
<input name="hid_gourl" value="/user/email" type="hidden">
<!--[if lte IE 6]> 
<div class="ietishi relative" id="ie6-warning">
  你的浏览器版本过低，升级后体验效果更佳 
  <a href="###" class="iclse" onclick="document.getElementById('ie6-warning').style.display='none';return false;"></a>
</div>
<![endif]-->

<script type="text/javascript">
var islogin = getCookies('user_id');
if(islogin == '')
{
  var comformvalue = getCookies('comfrom');
  var is_showloginheads = getCookies('is_showlonginlead');
  if(is_showloginheads != 'OK')
  {
    if(comformvalue == 1)
    {
      setCookie('showNums',0);
      showloginhead('sina');
    }
    else if(comformvalue == 2)
    {
      setCookie('showNums',0);
      showloginhead('qq');
    }
  }
}
var is_findfriend = getCookies('is_friendinfo');
if(is_findfriend != 'OK')
{
  var cnick = "希尔伯特程";
  var apitype = "";
  if(apitype == 'sina' || apitype == 'douban')
  {
    //findFriendtips(apitype, cnick);
    setcookie('is_friendinfo', 'OK', 0, '/', 'www.douguo.com');
  }
}
function overshow(){$("#header_usermenu").show()}
function outshow(){$("#header_usermenu").hide()}
</script>
    <script src="__STATIC__/js/9ce25855806b480888a9b8b0bf7ad868.js"></script>
      <script src="__STATIC__/js/comments.js"></script>
  <script type="text/javascript">
  var __CALLBACK = 'http://www.douguo.com' + "/main/returns?ref=" + encodeURIComponent(window.location.href);
  </script>
  <!-- 用户中心相关资源 -->
  <link href="__STATIC__/css/passport.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
  <link href="__STATIC__/css/setinfo.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
<link href="__STATIC__/css/passport.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
<script src="__STATIC__/js/passportv1.js"></script>
<script type="text/javascript" src="__STATIC__/js/m.js"></script>
  <script src="__STATIC__/js/passportv1.min.js"></script>
  <script type="text/javascript" src="js/m.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?88ab8b291a27492cc500a195d5239d22";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <script type="text/javascript">
var islogin = getCookies('user_id');
if(islogin == '')
{
    var comformvalue = getCookies('comfrom');
    var is_showloginheads = getCookies('is_showlonginlead');
    if(is_showloginheads != 'OK')
    {
        if(comformvalue == 1)
        {
            setCookie('showNums',0);
            showloginhead('sina');
        }
        else if(comformvalue == 2)
        {
            setCookie('showNums',0);
            showloginhead('qq');
        }
    }
}
function overshow(){$("#header_usermenu").show()}
function outshow(){$("#header_usermenu").hide()}
</script>
<!DOCTYPE html>
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>我的订单_购好货_豆果美食</title>    
  <meta name="keywords" content="我的订单">
  <meta name="description" content="我的订单">
  <link href="http://www.douguo.com/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link title="RSS 2.0" type="application/rss+xml" href="http://www.douguo.com/rss/caipu" rel="alternate">
  <link src="__STATIC__/css/a.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <meta name="author" content="豆果美食 www.douguo.com">
  <meta name="google-site-verification" content="2gKQfz4b2duFoGhkAMtl9EsHRd0nJWda-SxknzWYAGA">
  <meta name="y_key" content="e4b03bf435642365">
  <meta property="wb:webmaster" content="5d3113ad6af60df9">
  <meta name="varify-v1" content="baidu-z6YB9Um9kaoKXmFf">
  <meta name="baidu-site-verification" content="f4bd7fa0f7e3712360b62873fcb22edd">
  <meta name="apple-itunes-app" content="app-id=434212566">
  <link href="http://i1.douguo.net/static/img/wap/apple-touch-icon.png" rel="apple-touch-icon-precomposed">
  <script src="__STATIC__/js/push.js"></script><script async="" src="__STATIC__/js/analytics.js"></script><script type="text/javascript" async="" charset="utf-8" src="__STATIC__/js/core.php"></script><script src="__STATIC__/js/hm.js"></script><script src="__STATIC__/js/a_002.js"></script>
  <script src="__STATIC__/js/comments.js"></script>
  <script type="text/javascript">
  var __CALLBACK = 'http://www.douguo.com' + "/main/returns?ref=" + encodeURIComponent(window.location.href);
  </script>
  <!-- 用户中心相关资源 -->
  <link src="__STATIC__/css/passport.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
  <script src="__STATIC__/js/passportv1.js"></script>
  <script type="text/javascript" src="__STATIC__/js/m.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?88ab8b291a27492cc500a195d5239d22";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
 <link href="__STATIC__/css/63d8484fab6e4e4f84e662e6c62342bd.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
  <meta name="mobile-agent" content="format=html5;url=http://m.douguo.com/caipu/">  <meta name="author" content="豆果美食 www.douguo.com">
  <meta name="google-site-verification" content="2gKQfz4b2duFoGhkAMtl9EsHRd0nJWda-SxknzWYAGA">
  <meta name="y_key" content="e4b03bf435642365">
  <meta property="wb:webmaster" content="5d3113ad6af60df9">
  <meta name="varify-v1" content="baidu-z6YB9Um9kaoKXmFf">
  <meta name="baidu-site-verification" content="f4bd7fa0f7e3712360b62873fcb22edd"/>
  <meta name="apple-itunes-app" content="app-id=434212566"/>
  <link href="http://i1.douguo.net/static/img/wap/apple-touch-icon.png" rel="apple-touch-icon-precomposed"/>
  <script src="__STATIC__/js/e5cac1fa889d462da37fb2745d16cbce.js"></script>
  <script src="__STATIC__/js/commentse.js"></script>
  <script type="text/javascript">
  var __CALLBACK = 'http://www.douguo.com' + "/main/returns?ref=" + encodeURIComponent(window.location.href);
  </script>
  <!-- 用户中心相关资源 -->
  <link href="__STATIC__/css/passporte.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
  <script src="__STATIC__/js/passportv1e.min.js"></script>
  <script type="text/javascript" src="__STATIC__/js/m.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?88ab8b291a27492cc500a195d5239d22";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

<script type="text/javascript">
var islogin = getCookies('user_id');
if(islogin == '')
{
    var comformvalue = getCookies('comfrom');
    var is_showloginheads = getCookies('is_showlonginlead');
    if(is_showloginheads != 'OK')
    {
        if(comformvalue == 1)
        {
            setCookie('showNums',0);
            showloginhead('sina');
        }
        else if(comformvalue == 2)
        {
            setCookie('showNums',0);
            showloginhead('qq');
        }
    }
}
function overshow(){$("#header_usermenu").show()}
function outshow(){$("#header_usermenu").hide()}
</script>

  <link href="__STATIC__/css/cf94acbc5cef4cf5a34034afe52962e3.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <meta name="author" content="豆果美食 www.douguo.com">
  <meta name="google-site-verification" content="2gKQfz4b2duFoGhkAMtl9EsHRd0nJWda-SxknzWYAGA">
  <meta name="y_key" content="e4b03bf435642365">
  <meta property="wb:webmaster" content="5d3113ad6af60df9">
  <meta name="varify-v1" content="baidu-z6YB9Um9kaoKXmFf">
  <meta name="baidu-site-verification" content="f4bd7fa0f7e3712360b62873fcb22edd"/>
  <meta name="apple-itunes-app" content="app-id=434212566"/>
  <link href="http://i1.douguo.net/static/img/wap/apple-touch-icon.png" rel="apple-touch-icon-precomposed"/>
  <script src="__STATIC__/js/11eea33eb0204eee878e8f7f18d299f3.js"></script>
  <script src="__STATIC__/js/comments_1g.js"></script>
  <script type="text/javascript">
  var __CALLBACK = 'http://www.douguo.com' + "/main/returns?ref=" + encodeURIComponent(window.location.href);
  </script>
  <!-- 用户中心相关资源 -->
  <link href="__STATIC__/css/passport_1g.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
  <script src="__STATIC__/js/passportv1g.min_1.js"></script>
  <script type="text/javascript" src="__STATIC__/js/m_1g.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?88ab8b291a27492cc500a195d5239d22";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

<!-- 用户中心相关资源 -->
<link href="__STATIC__/css/setinfo.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
<link href="__STATIC__/css/passport.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
<script src="__STATIC__/js/passportv1.js"></script>
<script type="text/javascript" src="__STATIC__/js/m.js"></script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?88ab8b291a27492cc500a195d5239d22";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<link rel="stylesheet" type="text/css" id="SL_Style" href="__STATIC__/css/translator.css">
</head>
<body>
<a class="dg-passport" id="login"></a>
<input id="getjs" value="0" type="hidden">
<input name="hid_gourl" value="/user/chgpasswd" type="hidden">

<script type="text/javascript">
var islogin = getCookies('user_id');
if(islogin == '')
{
  var comformvalue = getCookies('comfrom');
  var is_showloginheads = getCookies('is_showlonginlead');
  if(is_showloginheads != 'OK')
  {
    if(comformvalue == 1)
    {
      setCookie('showNums',0);
      showloginhead('sina');
    }
    else if(comformvalue == 2)
    {
      setCookie('showNums',0);
      showloginhead('qq');
    }
  }
}
var is_findfriend = getCookies('is_friendinfo');
if(is_findfriend != 'OK')
{
  var cnick = "希尔伯特程";
  var apitype = "";
  if(apitype == 'sina' || apitype == 'douban')
  {
    //findFriendtips(apitype, cnick);
    setcookie('is_friendinfo', 'OK', 0, '/', 'www.douguo.com');
  }
}
function overshow(){$("#header_usermenu").show()}
function outshow(){$("#header_usermenu").hide()}
</script>

<script type="text/javascript">
var islogin = getCookies('user_id');
if(islogin == '')
{
  var comformvalue = getCookies('comfrom');
  var is_showloginheads = getCookies('is_showlonginlead');
  if(is_showloginheads != 'OK')
  {
    if(comformvalue == 1)
    {
      setCookie('showNums',0);
      showloginhead('sina');
    }
    else if(comformvalue == 2)
    {
      setCookie('showNums',0);
      showloginhead('qq');
    }
  }
}
function overshow(){$("#header_usermenu").show()}
function outshow(){$("#header_usermenu").hide()}
</script>


<link href="__STATIC__/css/72830b32e71847f1afb8e189eb0ca063.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <meta name="author" content="豆果美食 www.douguo.com">
  <meta name="google-site-verification" content="2gKQfz4b2duFoGhkAMtl9EsHRd0nJWda-SxknzWYAGA">
  <meta name="y_key" content="e4b03bf435642365">
  <meta property="wb:webmaster" content="5d3113ad6af60df9">
  <meta name="varify-v1" content="baidu-z6YB9Um9kaoKXmFf">
  <meta name="baidu-site-verification" content="f4bd7fa0f7e3712360b62873fcb22edd"/>
  <meta name="apple-itunes-app" content="app-id=434212566"/>
  <link href="http://i1.douguo.net/static/img/wap/apple-touch-icon.png" rel="apple-touch-icon-precomposed"/>
  <script src="__STATIC__/js/92c3cecd3bb54c64907801a9a874a54f.js"></script>
  <script src="__STATIC__/js/comments.js"></script>
  <script type="text/javascript">
  var __CALLBACK = 'http://www.douguo.com' + "/main/returns?ref=" + encodeURIComponent(window.location.href);
  </script>
  <!-- 用户中心相关资源 -->
  <link href="__STATIC__/css/passport.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
  <script src="__STATIC__/js/passportv1.min.js"></script>
  <script type="text/javascript" src="__STATIC__/js/m.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?88ab8b291a27492cc500a195d5239d22";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

<script type="text/javascript">
var islogin = getCookies('user_id');
if(islogin == '')
{
  var comformvalue = getCookies('comfrom');
  var is_showloginheads = getCookies('is_showlonginlead');
  if(is_showloginheads != 'OK')
  {
    if(comformvalue == 1)
    {
      setCookie('showNums',0);
      showloginhead('sina');
    }
    else if(comformvalue == 2)
    {
      setCookie('showNums',0);
      showloginhead('qq');
    }
  }
}
function overshow(){$("#header_usermenu").show()}
function outshow(){$("#header_usermenu").hide()}
</script>

  <link href="__STATIC__/css/abuy.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">

  <script src="__STATIC__/js/pushbuy.js"></script><script async="" src="__STATIC__/js/analyticsbuy.js"></script><script type="text/javascript" async="" charset="utf-8" src="__STATIC__/core.php"></script><script src="__STATIC__/js/hmbuy.js"></script><script src="__STATIC__/js/abuy.js"></script>
  <script src="__STATIC__/js/commentsbuy.js"></script>
  <script type="text/javascript">
  var __CALLBACK = 'http://www.douguo.com' + "/main/returns?ref=" + encodeURIComponent(window.location.href);
  </script>
  <!-- 用户中心相关资源 -->
  <link href="__STATIC__/css/passportbuy.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
  <script src="__STATIC__/js/passportv1buy.js"></script>

<script src="__STATIC__/js/95d245b761fd40b88d87085a713b9aaa.js"></script>
  <script src="__STATIC__/js/comments_2foods.js"></script>
  <script type="text/javascript">
  var __CALLBACK = 'http://www.douguo.com' + "/main/returns?ref=" + encodeURIComponent(window.location.href);
  </script>
  <!-- 用户中心相关资源 -->
  <link href="__STATIC__/css/passport_2foods.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
  <script src="__STATIC__/js/passportv1foods.min_2.js"></script>
  <script type="text/javascript" src="__STATIC__/js/m_2foods.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?88ab8b291a27492cc500a195d5239d22";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

  <script type="text/javascript">
var islogin = getCookies('user_id');
if(islogin == '')
{
  var comformvalue = getCookies('comfrom');
  var is_showloginheads = getCookies('is_showlonginlead');
  if(is_showloginheads != 'OK')
  {
    if(comformvalue == 1)
    {
      setCookie('showNums',0);
      showloginhead('sina');
    }
    else if(comformvalue == 2)
    {
      setCookie('showNums',0);
      showloginhead('qq');
    }
  }
}
function overshow(){$("#header_usermenu").show()}
function outshow(){$("#header_usermenu").hide()}
</script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>我的订单_购好货_豆果美食</title>    
  <meta name="keywords" content="我的订单">
  <meta name="description" content="我的订单">
  <link href="http://www.douguo.com/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link title="RSS 2.0" type="application/rss+xml" href="http://www.douguo.com/rss/caipu" rel="alternate">
  <link href="__STATIC__/css/ashopping.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <meta name="author" content="豆果美食 www.douguo.com">
  <meta name="google-site-verification" content="2gKQfz4b2duFoGhkAMtl9EsHRd0nJWda-SxknzWYAGA">
  <meta name="y_key" content="e4b03bf435642365">
  <meta property="wb:webmaster" content="5d3113ad6af60df9">
  <meta name="varify-v1" content="baidu-z6YB9Um9kaoKXmFf">
  <meta name="baidu-site-verification" content="f4bd7fa0f7e3712360b62873fcb22edd">
  <meta name="apple-itunes-app" content="app-id=434212566">
  <link href="http://i1.douguo.net/static/img/wap/apple-touch-icon.png" rel="apple-touch-icon-precomposed">
  <script src="__STATIC__/js/push.js"></script><script async="" src="__STATIC__/js/analytics.js"></script><script type="text/javascript" async="" charset="utf-8" src="__STATIC__/js/core.php"></script><script src="__STATIC__/js/hm.js"></script><script src="__STATIC__/js/a_002.js"></script>
  <script src="__STATIC__/js/comments.js"></script>
  <script type="text/javascript">
  var __CALLBACK = 'http://www.douguo.com' + "/main/returns?ref=" + encodeURIComponent(window.location.href);
  </script>
<!-- 用户中心相关资源  -->
<link href="__STATIC__/css/passportshopping.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
  <script src="__STATIC__/js/passportv1.js"></script>
  <script type="text/javascript" src="__STATIC__/js/m.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?88ab8b291a27492cc500a195d5239d22";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>


  <script type="text/javascript">

    var islogin = getCookies('user_id');
    // if (islogin == '') {
        var comformvalue = getCookies('comfrom');
        var is_showloginheads = getCookies('is_showlonginlead');
        if (is_showloginheads != 'OK') {
            if (comformvalue == 1) {
                setCookie('showNums', 0);
                showloginhead('sina');
            }
            else if (comformvalue == 2) {
                setCookie('showNums', 0);
                showloginhead('qq');
            }
        }
    }
    function overshow() {
        $("#header_usermenu").show()
    }
    function outshow() {
        $("#header_usermenu").hide()
    }
</script>
    <script>
        $(document).ready(function () {
            $(".btee").click(function () {
                $(".byseei").show();
            })
        })
    </script>
  </span>
 
        <script type="text/javascript">
            $(function () {
                $('.movey').mouseover(function () {
                    $(this).find(".yyfutips").show();
                });
                $('.movey').mouseout(function () {
                    $(this).find(".yyfutips").hide();
                });
            });
        </script>
<!-- 用户中心相关资源 -->
<!--[if lte IE 6]>
<div class="ietishi relative" id="ie6-warning">
    你的浏览器版本过低，升级后体验效果更佳
    <a href="###" class="iclse" onclick="document.getElementById('ie6-warning').style.display='none';return false;"></a>
</div>
<![endif]-->
    <script src="__STATIC__/js/push.js"></script>
    <script async="" src="__STATIC__/js/analytics.js"></script>
    <script src="__STATIC__/js/a_002.js"></script>
    <style type="text/css">:root #header + #content > #left > #rlblock_left {
        display: none !important;
    }</style>
    <script src="__STATIC__/js/comments.js"></script>
    <script type="text/javascript">
        var __CALLBACK = 'http://www.douguo.com' + "/main/returns?ref=" + encodeURIComponent(window.location.href);
    </script>
    <link href="__STATIC__/css/a.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <link href="__STATIC__/css/passport.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <script src="__STATIC__/js/passportv1.js"></script>
    <script type="text/javascript">
        BAIDU_CLB_preloadSlots("648893", "622668", "638060", "622775", "622776", "622777", "1163190");
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?88ab8b291a27492cc500a195d5239d22";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <link rel="stylesheet" type="text/css" id="SL_Style" href="__STATIC__/css/translator.css">

      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>我的订单_购好货_豆果美食</title>    
  <meta name="keywords" content="我的订单">
  <meta name="description" content="我的订单">
  <link href="http://www.douguo.com/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link title="RSS 2.0" type="application/rss+xml" href="http://www.douguo.com/rss/caipu" rel="alternate">
  <link src="__STATIC__/css/ashopping.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
    <meta name="author" content="豆果美食 www.douguo.com">
  <meta name="google-site-verification" content="2gKQfz4b2duFoGhkAMtl9EsHRd0nJWda-SxknzWYAGA">
  <meta name="y_key" content="e4b03bf435642365">
  <meta property="wb:webmaster" content="5d3113ad6af60df9">
  <meta name="varify-v1" content="baidu-z6YB9Um9kaoKXmFf">
  <meta name="baidu-site-verification" content="f4bd7fa0f7e3712360b62873fcb22edd">
  <meta name="apple-itunes-app" content="app-id=434212566">
  <link href="http://i1.douguo.net/static/img/wap/apple-touch-icon.png" rel="apple-touch-icon-precomposed">
  <script src="__STATIC__/js/pushshopping.js"></script><script async="" src="__STATIC__/js/analyticsshopping.js"></script><script type="text/javascript" async="" charset="utf-8" src="__STATIC__/js/core.php"></script><script src="__STATIC__/js/hmshopping.js"></script><script src="__STATIC__/js/a_002shopping.js"></script>
  <script src="__STATIC__/js/commentsshopping.js"></script>
  <script type="text/javascript">
  var __CALLBACK = 'http://www.douguo.com' + "/main/returns?ref=" + encodeURIComponent(window.location.href);
  </script>
  <!-- 用户中心相关资源 -->
  <link src="__STATIC__/css/passportshopping.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
  <script src="__STATIC__/js/passportv1shopping.js"></script>
  <script type="text/javascript" src="__STATIC__/js/mshopping.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?88ab8b291a27492cc500a195d5239d22";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

  <a class="dg-passport" id="login"></a>
<input id="getjs" value="0" type="hidden">
<input name="hid_gourl" value="/cookbook/1059276.html" type="hidden">
<script type="text/javascript">
    var islogin = getCookies('user_id');
    if (islogin == '') {
        var comformvalue = getCookies('comfrom');
        var is_showloginheads = getCookies('is_showlonginlead');
        if (is_showloginheads != 'OK') {
            if (comformvalue == 1) {
                setCookie('showNums', 0);
                showloginhead('sina');
            }
            else if (comformvalue == 2) {
                setCookie('showNums', 0);
                showloginhead('qq');
            }
        }
    }
    var is_findfriend = getCookies('is_friendinfo');
    if (is_findfriend != 'OK') {
        var cnick = "希尔伯特程";
        var apitype = "";
        if (apitype == 'sina' || apitype == 'douban') {
            //findFriendtips(apitype, cnick);
            setcookie('is_friendinfo', 'OK', 0, '/', 'www.douguo.com');
        }
    }
    function overshow() {
        $("#header_usermenu").show()
    }
    function outshow() {
        $("#header_usermenu").hide()
    }
</script>
</head>
<body>
<a class="dg-passport" id="login"></a>
<input type="hidden" id="getjs" value="0">
<input type="hidden" name="hid_gourl" value=""/>

<div id="header">
   <div class="head">
        <div class="hlogo"><img title="豆果美食" src="__STATIC__/images/logo.png" style="width:160px;height:38px;display:block;position:absolute;z-index:999;">豆果美食</div>
        {if empty(session('user'))}
        <div class="tlogin" id="header_info" uid="0" pur="0">
            <div class="toploginqs" id="topThirdLogin">
                <a href="/api/tx_login" class="topsmqq" rel="nofollow">QQ登录</a><a href="/api/sina_login" class="topsmsina" rel="nofollow">新浪微博</a>
            </div>
            <div class="slan"><a href="__SITE__/index/auth/login" title="登录" rel="nofollow">登录</a><span
                    class="pls prs">|</span><a href="__SITE__/index/auth/register" target="_blank" rel="nofollow" title="注册">注册</a>
            </div>
        </div>
        {else}
        <div class="tlogin" id="header_info" uid="8448714" pur="0">
            <div class="myifo" onmouseover="overshow()" onmouseout="outshow()">
            {if empty($setInfo)}
                <a href="__SITE__/index/user/profile" target="_blank" class="plt5">
                <img id="imgicon" src="__STATIC__/images/140.jpg"></a>
            {else}
             <a href="__SITE__/index/user/profile" target="_blank" class="plt5">
                <img id="imgicon" src="{$setInfo['icons']}"></a>
            {/if}
                <div class="swfom r3 hidden" id="header_usermenu">
                    <span class="arwwj"> </span>
                    <p>
                        <a href="http://www.douguo.com/message/remind" target="_blank">提醒</a>
                        <a href="http://www.douguo.com/message/msgbox" target="_blank">站内信</a>
                        <a href="" target="_blank">找好友</a>
                        <a href="__SITE__/index/user/setInfo" target="_blank">账号设置</a>
                        <a href="__SITE__/index/index/logout" class="rb3" >退出</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="perinfo" style="width:300px;">
               <p>{if session('user')['user_type'] == 0 || session('user')['user_type'] == 1}
                <a href="__SITE__/admin/admin/login">管理中心</a><span>&nbsp;&nbsp;</span>
              {/if}
                <a href="__SITE__/index/user/rule" target="_blank"><span
                        class="ic_jife"></span>{$coin}</a>　
                <a href="http://1603.bigcheng.com/index/user/collect" target="_blank" class="mr10"
                   style="margin-right:10px;"><span class="ic_shca"></span>我的收藏</a>
                <a href="__SITE__/index/shopping/shopping" target="_blank"><span class="ic_dc" ></span>我的订单</a>
               
            </p>
        </div>
        {/if}
    </div>

    <div class="headnav">
        <div class="hcent">
            <div class="hnav fsm">
                <ul>
        {foreach $data as $class}
          {if $class['parent_id'] == 0 && $class['id'] != 2}
                    <li class="lone"><a href="__SITE__/{$class['address']}">
                    <span>{$class['classname']}</span>
                    </a> </li>
          {/if}
        {/foreach} 
           <li class=" lone" id="cptip">
                    <a href="__SITE__/index/allrecipes/choice"><span>菜谱</span><s
                            class="naww"></s></a>

                        <div class="bbtips" style="display:none">
                            <div class="bbspace"></div>
                            <div class="bbicyu">
                                <div class="cpjiant"></div>
                                <div class="imublok2 clearfix">
                                {foreach $data as $val}
                                  {if $val['parent_id'] != 0}
                                    <a href="__SITE__/{$val['address']}" target="_blank"><b class="icpd"></b>{$val['classname']}</a>
                                  {/if}
                                {/foreach}
                                </div>
                                <div class="bgf1 imublokk clearfix">
                                    <div class="scgd clearfix">
                                    {foreach $data as $fo}
                                      {if $fo['id'] == 10}
                                        <span style="font-size:14px; padding-left:15px;"><a
                                                href="http://1603.bigcheng.com/{$fo['address']}" target="_blank">{$fo['classname']}</a></span>
                                      {/if}
                                    {/foreach}
                                    </div>
                                    <div class="lbnr_nr clearfix">
                                    {foreach $data1 as $fo2}
                                      {if $fo2['cate_id'] == 10 && $fo2['cid'] == 1}
                                        <a href="http://1603.bigcheng.com" target="_blank">
                                        {$fo2['classify_name']}
                                        </a>
                                      {/if}
                                    {/foreach}
                         
                                    </div>
                                </div>
                            
                                <div class="bgf1 imublokk clearfix">
                                    <div class="scgd clearfix">
                                    {foreach $data as $fo1}
                                      {if $fo1['id'] == 7}
                                        <span style="font-size:14px; padding-left:15px;"><a
                                                href="http://1603.bigcheng.com/{$fo['address']}" target="_blank">{$fo1['classname']}</a></span>
                                      {/if}
                                    {/foreach}
                                    </div>
                                    {foreach $data1 as $fo3}
                                      {if $fo3['cate_id'] == 7 && $fo3['cid'] == 0}
                                      <div class="imublok clearfix">
                                        
                                          <span>{$fo3['classify_name']}</span>
                                       
                                          <div class="imublo clearfix">

                                              <a href="http://1603.bigcheng.com/caipu/家常菜" target="_blank">家常菜</a>
                              
                                          </div>
                                      </div> 
                                      {/if}
                                    {/foreach}
                                </div>
                            </div>
                    </li>
                </ul>
               
            </div> 

            <div class="search">
                <form method="POST" id="searchForm" action="__SITE__/index/allrecipes/choice">
                    <input type="text" id="global_search_inpt" class="sput itqu" name="keywords" value="搜索菜谱">
                    <input type="submit" value="" class="lib">
                    <div class="sugg r3" id="mysu" style="display:none;"></div>
                    <div class="sugg2" id="mysu2" style="display:none;"></div>
                </form>
            </div>
            <div class="issue" onmouseover="$('#issueall').show()" onmouseout="$('#issueall').hide()">
                <a href="javascript:void(0);" class="btniss">发布</a>
                <div class="fallce r3" id="issueall" style="display: none; ">
                    <span class="armtop"> </span>
                    <p>
                        <a id="pub" href="__SITE__/index/cook/publish" class="rt3" target="_blank" rel="nofollow">发布菜谱</a>
                        <a href="http://xieshipai.douguo.com/" target="_blank" rel="nofollow">上传美食日记</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

</head>
<body>




