<link href="__STATIC__/css/48fcc3c74b6a431d859dbc20f591b2e0.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
<link href="__STATIC__/css/passport.css" charset="UTF-8" rel="stylesheet" type="text/css" media="screen">
{extend name="base" /}
{block name="title1"}{/block}
<div id="main" class="clearfix" style="float:left;margin-left:150px;">
		<div class="maleft">
						<div class="intenav r3 mb25">
				<ul class="pls">
					<!--<li ><a href="http://www.douguo.com/jifen/product/lists/0"><span>积分商城</span></a></li>-->
					<!-- <li ><a href="http://www.douguo.com/jifen/product/lists/my"><span>我可兑换的物品</span></a></li> -->
					<li class="ls lirdo"><a href="http://www.douguo.com/jifen/rule"><span>积分规则</span></a></li>
				</ul>
			</div>
			<div class="jfpath mbl">当前位置： 积分规则</div>
			<div class="rultab mb20">
				<table width="600" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="rnam">频道</td>
						<td class="rcz">操作</td>
						<td class="rsx">获取上限</td>
						<td class="rjf">积分</td>
					</tr>
																<tr>
												<td rowspan="4" class="rnam2">
							<a href=/user/profile target='_blank' >个人行为</a>						</td>
												<td class="rcz2">
							注册						</td>
						<td class="rsx2">1次</td>
						<td class="rjf2">20分</td>
					</tr>
											<tr>
												<td class="rcz2">
							<a href='/user/profile' target='_blank' >上传头像 </a>						</td>
						<td class="rsx2">1次</td>
						<td class="rjf2">15分</td>
					</tr>
											<tr>
												<td class="rcz2">
							<a href='/user/profile' target='_blank' >完善个人信息 </a>						</td>
						<td class="rsx2">1次</td>
						<td class="rjf2">10分</td>
					</tr>
											<tr>
												<td class="rcz2">
							绑定手机号						</td>
						<td class="rsx2">1次</td>
						<td class="rjf2">15分</td>
					</tr>
																	<tr>
												<td rowspan="6" class="rnam2">
							<a href=/caipu target='_blank' >菜谱作品</a>						</td>
												<td class="rcz2">
							<a href='/upfood.html' target='_blank' >发布菜谱</a>						</td>
						<td class="rsx2">不限</td>
						<td class="rjf2">10-30分</td>
					</tr>
											<tr>
												<td class="rcz2">
							菜谱被推荐到首页						</td>
						<td class="rsx2">1次</td>
						<td class="rjf2">50分</td>
					</tr>
											<tr>
												<td class="rcz2">
							分享菜谱到朋友圈						</td>
						<td class="rsx2">20次</td>
						<td class="rjf2">2分</td>
					</tr>
											<tr>
												<td class="rcz2">
							发布作品						</td>
						<td class="rsx2">10次</td>
						<td class="rjf2">10分</td>
					</tr>
											<tr>
												<td class="rcz2">
							分享作品到朋友圈						</td>
						<td class="rsx2">20次</td>
						<td class="rjf2">2分</td>
					</tr>
											<tr>
												<td class="rcz2">
							发布评论						</td>
						<td class="rsx2">20次</td>
						<td class="rjf2">2分</td>
					</tr>
																	<tr>
												<td rowspan="4" class="rnam2">
							圈圈						</td>
												<td class="rcz2">
							发布帖子						</td>
						<td class="rsx2">10次</td>
						<td class="rjf2">5-10分</td>
					</tr>
											<tr>
												<td class="rcz2">
							帖子被加精						</td>
						<td class="rsx2">不限</td>
						<td class="rjf2">30分</td>
					</tr>
											<tr>
												<td class="rcz2">
							帖子成为热帖						</td>
						<td class="rsx2">不限</td>
						<td class="rjf2">30分</td>
					</tr>
											<tr>
												<td class="rcz2">
							分享帖子到朋友圈						</td>
						<td class="rsx2">10次</td>
						<td class="rjf2">2分</td>
					</tr>
										</table>
			</div>
		</div>
		<div class="maright">
			<div class="dhchange mb27">
	<h2 class="mbs">积分排行榜</h2>
		<div class="epro libdo clearfix">
		<div class="cpicd">
			<a href="http://www.douguo.com/u/u52861316944163.html" rel="nofollow" target="_blank" title="连玥菡"><img src="picture/48_u52861316944163111529.jpg" alt="连玥菡"></a>
		</div>
		<h4><a title="连玥菡" href="http://www.douguo.com/u/u52861316944163.html" target="_blank">连玥菡</a><a href='/user/prodesc' class='picon progr' rel='nofollow' target='_blank' title='豆果美食达人认证'></a></h4>
		<span>积分：207667</span>
		<a id="guanzhu2186496" userid="2186496" title = "关注" href="javascript:void(0)"class="newgz jiaf"></a>	</div>
		<div class="epro libdo clearfix">
		<div class="cpicd">
			<a href="http://www.douguo.com/u/u36705681427508.html" rel="nofollow" target="_blank" title="馋嘴乐"><img src="picture/48_u3670568142750807021013.gif" alt="馋嘴乐"></a>
		</div>
		<h4><a title="馋嘴乐" href="http://www.douguo.com/u/u36705681427508.html" target="_blank">馋嘴乐</a></h4>
		<span>积分：182307</span>
		<a id="guanzhu1252906" userid="1252906" title = "关注" href="javascript:void(0)"class="newgz jiaf"></a>	</div>
		<div class="epro libdo clearfix">
		<div class="cpicd">
			<a href="http://www.douguo.com/u/u62931175479311.html" rel="nofollow" target="_blank" title="阳阳美食烘焙"><img src="picture/48_u62931175479311213912.jpg" alt="阳阳美食烘焙"></a>
		</div>
		<h4><a title="阳阳美食烘焙" href="http://www.douguo.com/u/u62931175479311.html" target="_blank">阳阳美食烘焙</a><a href='/user/prodesc' class='picon progr' rel='nofollow' target='_blank' title='豆果美食达人认证'></a></h4>
		<span>积分：160171</span>
		<a id="guanzhu2555872" userid="2555872" title = "关注" href="javascript:void(0)"class="newgz jiaf"></a>	</div>
		<div class="epro libdo clearfix">
		<div class="cpicd">
			<a href="http://www.douguo.com/u/u55270543151211.html" rel="nofollow" target="_blank" title="葛臭臭火星妹"><img src="picture/48_u55270543151211201242.jpg" alt="葛臭臭火星妹"></a>
		</div>
		<h4><a title="葛臭臭火星妹" href="http://www.douguo.com/u/u55270543151211.html" target="_blank">葛臭臭火星妹</a><a href='/user/prodesc' class='picon progr' rel='nofollow' target='_blank' title='豆果美食达人认证'></a></h4>
		<span>积分：151221</span>
		<a id="guanzhu2280118" userid="2280118" title = "关注" href="javascript:void(0)"class="newgz jiaf"></a>	</div>
		<div class="epro libdo clearfix">
		<div class="cpicd">
			<a href="http://www.douguo.com/u/u12157371987027.html" rel="nofollow" target="_blank" title="jmy的私房菜"><img src="picture/48_u12157371987027061053.jpeg" alt="jmy的私房菜"></a>
		</div>
		<h4><a title="jmy的私房菜" href="http://www.douguo.com/u/u12157371987027.html" target="_blank">jmy的私房菜</a><a href='/user/prodesc' class='picon progr' rel='nofollow' target='_blank' title='豆果美食达人认证'></a></h4>
		<span>积分：137933</span>
		<a id="guanzhu5982038" userid="5982038" title = "关注" href="javascript:void(0)"class="newgz jiaf"></a>	</div>
	</div>
<div class="mb25">
    <script type="text/javascript">BAIDU_CLB_fillSlot("624750");</script>
</div>

	</div>
<div id="backtop" style="display: none;bottom:290px"> <a id="gotop" href="javascript:void(0);" title="返回顶部" onclick="window.scroll(0,0);"></a> </div>
<!-- <div class="ajifenshow"><a class="yshzhbg" href="/mall?f=jf" target="_blank"></a></div> -->
<script src="js/80712fcd4ae34b549df196a648741b3a.js"></script>
<script src='js/c.js' language='JavaScript' charset='gb2312'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-60338497-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</body></html>
